form {
    border: #ffffff solid 2px;
    padding: 10px;
    margin-bottom: 10px;
}
form label {
    display: block;
    margin-top: 10px;
}

form > input {
    margin-top: 10px;
}
.switcher label {
    display: inline-block;
}
.wrap-items-fd {
    border: #000000 solid 2px;
    padding: 10px;
    margin-bottom: 10px;  
}
.wrap-items-fd img {
    width: 100px;
}